:root{
    --color: #27C7AB;
}
*{
    box-sizing: border-box;
}
.container{
    width: 1150px;
    margin: 0 auto;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
body{
'Raleway', sans-serif;
}
.page-header{
    background: black;
    height: 40px;
}
.page-logo{
    float: left;


}
.page-logo-link{
    color:white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    line-height: 40px;
    display: block;
}
.page-logo-link span{
    color: var(--color);
}
.page-nav{
    float: right;
}
.page-nav-list{

}
.page-nav-list li{
    float:left;
    position:relative;
}
.page-nav-list a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding:0 25px;
    line-height:40px;
    display: block;
}
.page-nav-list a:hover{
    color: var(--color);
}
.page-nav-list li:hover >a{
    color: var(--color);
}
.page-nav-sublist{
    position:absolute;
    background: black;
    left: 50%;
    top: 55px;
    transform: translate(-50%, 0);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s all;
    padding: 10px 0;
}
.page-nav-list li:hover .page-nav-sublist{
    opacity: 1;
    visibility: visible;
}
.page-nav-sublist:before{
    content:'';
    width: 22px;
    height: 22px;
    background: black;
    display:block;
    position: absolute;
    transform: translate(-50%, -50%)rotate(45deg);
    left:50%;
    top:0;
}
.page-nav-sublist:after{
    content: '';
    background: transparent;
    height: 30px;
    display: block;
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;
}
.page-nav-sublist li{
    float:none;
}
.page-nav-sublist a{
    font-weight: normal;
    text-transform: none;
    line-height: 30px;
}